

.dropdown-menu1{
    width: 150px;
    position: absolute;
    list-style: none;
    text-align: start;
    display: block;
    left: 66%;
    transform: translateX(-50%);
    margin-top: 0;
    
    
}

.dropdown-menu1 li{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    color: green;
    padding-top: 5px;
    padding: 5px;
    
   

   
}

.dropdown-menu1 li:hover{
    color: orange;
}

.dropdown-menu1.clicked{
    display: none;
}

.dropdown-link{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: green;
    margin-left: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    
   
}

@media only screen and (max-width:1024px){ 

    .dropdown-menu1 {
        width: 200px;
        top:320px;
        height: auto;
        position: absolute;
        list-style: none;
        text-align: start;
        display: block;
        transform: none;
        visibility: visible;
        left: 0;
        
        
    }
}