@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f7f8fc;
  font-family: "Roboto", sans-serif;
  color: #10182f;
}

.farm{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.farmInvite{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.postFarm{
    background-color: green;
    color: white;
    z-index: -1;
}

.farms{
    margin-left: 100px;
    margin-right: 100px;
    background-color: inherit;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cnn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerhire {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-right: 100px;
  background-color: rgb(245, 244, 244);
  border-radius: 10px;

 
}
.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 250px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  background-color: #47bcd4;
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-pink {
  background-color: #cd5b9f;
}

.card-body p {
  font-size: 13px;
  padding-top: 10px;
}

.prn{
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #0f43ee;

}

.pri{
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;


}

.user-info button{
  background-color: green;
  color: white;
}
.user-info small {
  color: #0f43ee;
}