


.expla{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    
}

.h-header{
    color: green;
}
.hire-btn{
    background-color: green;
    
}

.btn-h{
    color: white !important;
}


.expla p{
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: medium;
    font-family: cursive;
    color: green;
    width: 100vh;
}

.hirecard{

    margin-left: 50px;
    margin-right: 50px;

}

@media only screen and (max-width:1080px){ 

    .card{
        display: block;
    }


}