* {
    box-sizing: border-box;
    color: #444;
}

body {
    margin: 0;
    background-color: rgb(255, 255, 255);
    padding: 0;
    color: black;
}

.homeh {
    background-color: inherit;
}

.imgh {
    border-radius: 20px;
    margin: 5px;
}

.hea {
    margin: 5px;
    font-family: cursive;
    text-align: center;
}

.h-img{
    width:100%;
}

.explan {
    background-image: url("./pyl.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 70vh;
    margin-bottom: 20px;
}

.pat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: inherit;
    padding-left: 50px;
    padding-right: 50px;
}
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: url("./cher.jpg");
    background-color: aqua;
  
    /* Set a specific height */
    height: 70vh;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
  }
  
  /* Place text in the middle of the image */
  .hero-text {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: -1;
    margin-top: 30px;
    
    
  }
  .hero-text h1{
    font-size: 2.0rem;
    color: rgb(26, 59, 121);
    font-weight: 700;
    font-family: cursive;

    
  }
  .home-cont{

    margin-left: 100px;
    margin-right: 100px;

  }
  .btn-invest{
    background-color: green;
    color: white;
    padding: 5px;
    font-family: cursive;
    font-size: 1.2rem;
    
  }

  
  .hero-text p{
    font-size: 1.0rem;
    color: rgb(8, 164, 255);
    font-weight: bold;
    font-family: cursive;
    padding: 2px;
    background-color: white;
    border-radius: 10px;
    
  }

  .hometext{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .dol1{
    padding: 20px;
    margin: 20px;
  }

  .bg-c{
    background-color: white;
    color: green;
    font-size: 1.5rem;
    font-family: cursive;
  }

  .dol{
    display: flex;
    text-align: center;
  }

  .inx{
    height: 80vh;
    padding-top: 20px;
  }

  .alas{
    color: white;
    padding: 10px;
  }
@media only screen and (max-width: 1000px) {
    .homeh {
        display: flex;
        flex-direction: column;
    }

    .w3-row{
        display: block !important;
    }
    .ro{
        display: flex !important;
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .imgh {
        visibility: hidden;
        height: 2px;
    }
    .home-cont{

        margin-left: 0;
        margin-right: 0;
    
      }
}
